.hot-coin {
    text-align: left;
    padding: 10px;
    color: black;
}

.hot-coin h3 {
    margin: 0px;
}

.coin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.coin-table th {
    background-color: #f4f4f4;
    color: black;
}

.coin-table tr{
    border-bottom: 1px solid lightgray;
    height: 45px;
}

.column-name {
    width: 50%;
    padding: 0px 10px;
}

.column-price {
    width: 30%;
    padding: 0px 10px;
    text-align: center;
}

.column-fluc {
    width: 20%;
    padding: 0px 10px;
    text-align: right;
}

.coin-symbol{
    font-size: 10px;
    color: gray;
}

.coin-price.positive{
    color: blue
}

.coin-price.negative{
    color: red
}

.coin-fluc-percent.positive{
    color: blue
}

.coin-fluc-percent.negative{
    color: red
}

.coin-fluc-amount{
    font-size: 10px;
}

.coin-fluc-amount.positive{
    color: blue
}

.coin-fluc-amount.negative{
    color: red
}